@font-face {
  font-family: 'Roboto Condensed';
  src: url('../fonts/RobotoCondensed-Regular.woff') format('woff');
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Dosis-Light';
  src: url('../fonts/Dosis-Light.woff') format('woff');
  font-display: swap;
  font-weight: 300;
  font-style: normal;
}

body {
  max-width: 100%;
}

/*.parent {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.block {
  width: 250px;
  height: 250px;
  position: relative;
  top: 0;
  background-color:#2B4074 ;
  margin: 0 auto; 
}
.img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  border: none;
  background-image: #2B4074; z-index: 1; ;
}*/

/* header */

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.wrapper {
  width: 100%;
  top: 0;
  left: 0;
}

.header_body {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 1430px;
  padding: 5px;
  min-height: 100px;
  background-color: #2B4074;
}

.header_logo_link {
  position: relative;
  left: 61px;
}
.header_button {
  position: relative;
  width: 40px;
  height: 40px;
  cursor: pointer;
  right: 142px;
}

/* intro */

.intro {
  position: relative;
  background-position: center;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(33, 33, 33, 0.5);
  height: 668px;
  margin: 0 auto;
}

.intro_title {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 500px;
  height: 168px;
  left: 463px;
  top: 107px;
  background-image: url(../images/icons/title.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.intro_text {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  width: 886px;
  height: 60px;
  left: 277px;
  top: 300px;
  font-family: 'Roboto Condensed', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  color: #FFFFFF;
}

.button_intro_more {
  position: absolute;
  width: 200px;
  height: 50px;
  left: 620px;
  top: 405px;
  background-color:  #2B4074;
  border-radius: 3px;
  cursor: pointer;
  
}

.read_more {
  position: relative;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  font-family: 'Roboto Condensed', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  color: #F9F6E5;
  margin: 0 auto;
}

.button_back {
  position: absolute;
  width: 70px;
  height: 70px;
  left: 1370px;
  top: 265px;
  background-color: #2B4074;
  border-radius: 3px;
  cursor: pointer;
  background-image: url(../images/block1/back.png);
  background-repeat: no-repeat;
  background-position: center;
}

.button_forward {
  position: absolute;
  width: 70px;
  height: 70px;
  left: 1370px;
  top: 334px;
  background-color: #F9F6E5;
  border-radius: 3px;
  cursor: pointer;
  background-image: url(../images/block1/forward.png);
  background-repeat: no-repeat;
  background-position: center;
}

.intro_pagnitation {
  position: absolute;
  width: 50px;
  height: 12px;
  left: 695px;
  top: 578px;
}

/* promo */

.promo_body {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 1430px;
  padding: 5px;
  min-height: 192px;
  margin: 0 auto;
  background-color: #2B4074;
}

.promo_text1 {
  position: absolute;
  width: 557px;
  height: 32px;
  top: 57px;
  left: 150px;
  font-family: 'Roboto Condensed', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
  margin: 0;
}

.promo_text2 {
  display: flex;
  align-items: flex-end;
  width: 796px;
  height: 42px;
  left: 150px;
  font-family: 'Dosis-Light', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
  margin: 0 auto;
}

.button_call_back {
  position: absolute;
  align-items: center;
  width: 200px;
  height: 50px;
  right: 142px;
  top: 38%;
  background: #F9F6E5;
  border-radius: 3px;
}

.call_back_text {
  position: relative;
  align-items: center;
  justify-content: space-between;
  font-family: 'Roboto Condensed', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  color: #2B4074;
  margin: 0 auto;
}

/* Servises */

.servises {
  
  position: relative;
  width: 1440px;
  height: 546px;

  background: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 50;
}
.servises_container {
  display: flex;
  padding: 0px 15px;
  margin: 0 auto;
}

.servises_contant_container {
  position: absolute;
  display: flex;
  width: 393px;
  height: 278px;
  left: 62px;
  top: 134px;
}

.servises_title {
  position: absolute;
  width: 145px;
  height: 56px;
  left: 62px;
  top: 90px;

  font-family: 'Roboto Condensed', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 56px;
  display: flex;
  align-items: flex-end;

  color: #2B4074;
}

.servises_from_idea {
  position: absolute;
  width: 393px;
  height: 60px;
  left: 0px;
  top: 76.4px;

  font-family: 'Roboto Condensed', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  /* or 108% */

  display: flex;
  align-items: flex-end;

  color: #4A4A4A;
}

.servises_line {
  position: absolute;
  width: 98.74px;
  height: 8px;
  left: 0px;
  top: 167.1px;

  background-image: url(../images/block1/Servises_line.png);
}

.servises_integrating_flawless {
  position: absolute;
  width: 351px;
  height: 68px;
  left: 0px;
  top: 210px;

  font-family: 'Roboto Condensed', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  /* or 133% */

  display: flex;
  align-items: flex-end;

  color: #797979;
}

.servises_items {
  position: absolute;
  flex-wrap: wrap;
  display: flex;
  width: 928px;
  height: 547px;
  left: 513px;
  top: 0px;
}

.servises_strategy, .servises_content, .servises_analysys, .servises_sotial_media, .servises_development,
.servises_design_ux, .servises_advertising, .servises_products {
  width: 230px;
  height: 270.53px;
  border: 1px solid #F9F6E5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Portfolio */

.portfolio {
  position: relative;
  
  width: 1430px;
  padding: 5px;
  height: 668px;
  background: linear-gradient(180deg, #2B4074 0%, rgba(43, 64, 116, 0) 100%);
}

.portfolio_container {
  display: flex;
  padding: 0px 15px;
  margin: 0 auto;
}

.our_projects {
  position: absolute;
  display: flex;
  width: 319px;
  height: 84px;
  left: 561px;
  top: 80px;
  
}

.our_projects_text {
  position: relative;
  display: flex;
  width: 318.5px;
  height: 52px;
  font-family: 'Roboto Condensed', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  white-space: nowrap;
  text-align: center;
  align-items: flex-end;
  justify-content: center;

  color: #FFFFFF;
}

.projects_line {
  position: absolute;
  width: 100px;
  height: 8px;
  left: 109px;
  top: 76px;

  background: #FFFFFF;
}

