html {
  scroll-behavior: smooth;
  overflow-x: scroll !important;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('../fonts/RobotoCondensed-Regular.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Dosis';
  src: url('../fonts/Dosis-Light.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}

* {
  font-family: 'Roboto Condensed', sans-serif;
  padding: 0;
  margin: 0;
}

* img, button {
  border-radius: 3px;
}
 
body {
  min-width: 1440px;
  margin: 0 auto;
}

body section  {
  width: 1440px;
  margin: 0 auto;
}

/* pagnitation */

.pagination{
  position: absolute;  
  top: 579px;
  left: calc(50% - 30px);
}

.oval {
  width: 10px;
  height: 10px;
  border: 1px solid var(--blue_color) !important;
  border-radius: 50%;
  margin: 0px 5px;
  background-color: var(--white_color) !important;
}

.oval active {
  background: none !important;
  border: 1px solid var(--white_color) !important;
}

/* header */

.header {
  height: 100px;
  background-color: #2B4074;
}

.header_container {
  position: relative;
  width: 1309px;
	top: 17px;
	margin: 0 auto;
}

.container {
  position: relative;
  width: 1309px;
  height: 668px;
	margin: 0 auto;
}

.navbar {
  display: flex;
	align-items: center;
  justify-content: space-between;
}

.navbar img {
  position: relative;
  cursor: pointer;
}

.nav_button {
  position: relative;
  width: 40px;
  height: 40px;
	right: 84.5px;
  background: #FFFFFF;
	cursor: pointer;
}

/* intro */

.intro {
  height: 668px;
  background-image: url(../images/block1/bg-img1440.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.intro_title {
  position:absolute;
  width: 513px;
  height: 192px;
  left: 397.5px;
  top: 107px;
  font-size: 96px;
  line-height: 96px;
  align-items: center;
  text-align: center;
  letter-spacing: 2px;
  color: #FFFFFF;
  margin: 0 auto;
}

.intro_p {
  position: relative;
  width: 886px;
  height: 60px;
  top: 317px;
  font-size: 24px;
  line-height: 26px;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  margin: 0 auto;
}

.intro_button {
  position: absolute;
  width: 200px;
  height: 50px;
  left: 554.5px;
  top: 405px;
  background: #2B4074;
  cursor: pointer;
}

.intro_button_text {
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  color: #F9F6E5;
  margin: 0 auto;
}



.button_back {
  position: absolute;
  width: 70px;
  height: 70px;
  left: 1305px;
  top: 265px;
  background-color: #2B4074;
  cursor: pointer;
  background-image: url(../images/block1/back.png);
  background-repeat: no-repeat;
  background-position: center;
}

.button_forward {
  position: absolute;
  width: 70px;
  height: 70px;
  left: 1305px;
  top: 334px;
  background-color: #F9F6E5;
  cursor: pointer;
  background-image: url(../images/block1/forward.png);
  background-repeat: no-repeat;
  background-position: center;
}

/* promo */ 

.promo {
  position: relative;
  height: 192px;
  background: #2B4074;
}

.promo_button {
  position: absolute;
  width: 200px;
  height: 50px;
  right: 149px;
  top: 71px;
  background: #F9F6E5;
  border-radius: 3px;
  cursor: pointer;
}

.promo_button_text {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  color: #2B4074;
  margin: 0 auto;
}

.promo h2 {
  position: absolute;
  width: 557px;
  height: 32px;
  left: 150px;
  top: 57px;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: flex-end;
  color: #FFFFFF;
}

.promo h4 {
  position: absolute;
  width: 796px;
  height: 42px;
  left: 150px;
  top: 93px;
  font-family: 'Dosis', sans-serif;
  font-weight: 300;
  display: flex;
  align-items: flex-end;
  color: #FFFFFF;
}

/* servises */

.servises {
  position: relative;
  height: 547px;
  background: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 50;
}

.servises_container {
  display: flex;
}

.servises_contant_container {
  position: absolute;
  display: flex;
  width: 393px;
  height: 278px;
  left: 62px;
  top: 134px;
}

.servises_title {
  position: absolute;
  width: 145px;
  height: 56px;
  left: 62px;
  top: 90px;
  font-size: 48px;
  line-height: 56px;
  display: flex;
  align-items: flex-end;
  color: #2B4074;
}

.servises_from_idea {
  position: absolute;
  width: 393px;
  height: 60px;
  left: 0px;
  top: 76.4px;
  font-size: 24px;
  line-height: 26px;
  display: flex;
  align-items: flex-end;
  color: #4A4A4A;
}

.servises_line {
  position: absolute;
  width: 98.74px;
  height: 8px;
  left: 0px;
  top: 167.1px;
  background-image: url(../images/block1/Servises_line.png);
}

.servises_integrating_flawless {
  position: absolute;
  width: 351px;
  height: 68px;
  left: 0px;
  top: 210px;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: flex-end;
  color: #797979;
}

.servises_items {
  position: absolute;
  flex-wrap: wrap;
  display: flex;
  width: 927px;
  height: 547px;
  left: 516px;
  top: 1px;
}

.servises_strategy a,  .servises_content a, .servises_analysys a, .servises_sotial_media a, 
.servises_development a, .servises_design_ux a, .servises_advertising a, .servises_products a {
  position: relative;
  width: 222px;
  height: 24px;
  left: 3px;
  bottom: -90px;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2px;
  color: #2B4074;
  background-image:url(../images/icons/Full\ View\ →\ 2.png);
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
}

.servises_strategy, .servises_content, .servises_analysys, .servises_sotial_media, .servises_development,
.servises_design_ux, .servises_advertising, .servises_products {
  
  width: 229px;
  height: 270.53px;
  border: 1px solid #F9F6E5;
  display: flex;
  color: #2B4074;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.servises_strategy:hover, .servises_content:hover, .servises_analysys:hover,.servises_sotial_media:hover,
.servises_development:hover, .servises_design_ux:hover, .servises_advertising:hover, .servises_products:hover{
  position: relative;
  width: 223px;
  height: 264px;
  justify-content: center;
  align-items: center;
  border: 4px solid #2B4074;
  transition: .2s ease;
}

.servises_strategy:hover > img, .servises_content:hover > img, .servises_analysys:hover > img, .servises_sotial_media:hover > img,
.servises_development:hover > img, .servises_design_ux:hover > img, .servises_advertising:hover > img, .servises_products:hover > img{
  display: block;
  position: absolute;
  top: 25px;
}

.servises_strategy:hover > a, .servises_content:hover > a, .servises_analysys:hover > a, .servises_sotial_media:hover > a,
.servises_development:hover > a, .servises_design_ux:hover > a, .servises_advertising:hover > a, .servises_products:hover > a {
  opacity: 1;
}

/* Portfolio */

.portfolio {
  position: relative;
  box-sizing: border-box;
  padding: 5px;
  height: 668px;
  background: linear-gradient(180deg, #2B4074 0%, rgba(43, 64, 116, 0) 100%);
}

.portfolio_container {
  padding: 0px 15px;
}

.our_projects {
  position: absolute;
  display: flex;
  width: 319px;
  height: 84px;
  left: 561px;
  top: 80px;
}

.our_projects_text {
  position: relative;
  display: flex;
  width: 318.5px;
  height: 52px;
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  white-space: nowrap;
  text-align: center;
  align-items: flex-end;
  justify-content: center;
  color: #FFFFFF;
}

.projects_line {
  position: absolute;
  width: 100px;
  height: 8px;
  left: 109px;
  top: 76px;
  background: #FFFFFF;
}

.our_projects_content {
  display: flex;
  position: absolute;
  width: 1138px;
  height: 239px;
  left: 151px;
  top: 244px;
}

.our_projects_content img {
  margin-right: 22px;
}

.overlay {
  display: block;
  position: relative;
  width: 243px;
  height: 217px;
  top: -232px;
  left: 12px;
  background: #F9F6E5;
  opacity: 0;
  transition: .3s ease;
  border-radius: 4px;
}

.overlay .overlay_info {
  position: absolute;
  width: 30px;
  height: 28px;
  top: 95px;
  left: 87px;
  background-image: url(../images/icons/info\ button.png);
  background-repeat: no-repeat;
  background-position: center;
  color: #2B4074;
}

.overlay .overlay_search {
  position: absolute;
  width: 28px;
  height: 28px;
  top: 96px;
  right: 86px;
  background-image: url(../images/icons/search.png);
  background-repeat: no-repeat;
  background-position: center;
  color: #2B4074;
}

.overlay:hover{
  opacity: 0.8;
}

.our_projects_content .titles {
  display: flex;
  position: absolute;
  width: 1132px;
  height: 26px;
  left: 2px;
  top: 268px;
}

.titles li {
  display: inline-block;
  width: 263px;
  height: 26px;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 2px;
  color: #2B4074;
  margin-top: 5px;
  margin-right: 22px;
}

.titles li:last-child {
  margin-right: 0px;
}

.titles a {
  text-decoration: none;
  color: #2B4074;
}

/* video Block */

.video_block {
  position: relative;
  height: 580px;
  background: #FFFFFF;
}

.videocontent {
  position: absolute;
  width: 470px;
  height: 430px;
  left: 147px;
  top: 80px;
  background: url(workplace-1245776_1920.jpg);
}

.video_block h1 {
  position: absolute;
  width: 192px;
  height: 52px;
  left: 710px;
  top: 80px;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 56px;
  color: #4A4A4A;
  margin: 0 auto;
}

.video_block:after {
  position: absolute;
  display: block;
  width: 113.48px;
  height: 8px;
  left: 710px;
  top: 162px;
  background: #2B4074;
  content: "";
}

.video_block h3 {
  position: absolute;
  width: 584px;
  height: 192px;
  left: 710px;
  top: 209px;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: flex-end;
  color: #9B9B9B;
}

.vatch_video_button {
  position: absolute;
  width: 230px;
  height: 60px;
  left: 710px;
  top: 440px;
  background: #2B4074;
  cursor: pointer;
}

.vatch_video_button_text {
  text-decoration: none;
  font-size: 18px;
  line-height: 18px;
  color: #F9F6E5;
  margin: 0 auto;
}

/* latest news */

.latest_news {
  position: relative;
  height: 1044px;
  background: #F9F6E5;
}

.latest_news h1 {
  position: relative;
  width: 401px;
  height: 56px;
  top: 52px;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  margin: 0 auto;
  color: #4A4A4A;
}

.latest_news_title:after {
  position: absolute;
  width: 100px;
  height: 8px;
  left: 670px;
  top: 127px;
  background: #2B4074;
  margin: 0 auto;
  content: "";
}

.latest_news_content {
  display: flex;
  flex-flow: column wrap;
  position: absolute;
  width: 1171px;
  height: 714px;
  left: 135px;
  top: 250px;
}

.latest_news_content_img {
  width: 270px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

.news {
  position: absolute;
  width: 270px;
  height: 40px;
  left: 0px;
  bottom: 12px;
  background: #FFFFFF;
  border-radius: 3px;
  transition: .3s ease;
}

.news p {
  position: absolute;
  width: 230.71px;
  height: 22px;
  left: 20.15px;
  top: 8px;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2px;
  color: #4A4A4A;  
}

.latest_news_content img { 
  position: relative;
  width: 270px;
  margin-bottom: 9px;
  border-radius: 4px;
  box-sizing: border-box;
}

.latest_news_content_img:hover img {
  border: 10px solid #2B4074;
}

.latest_news_content_img:hover > .news p {
  color: #F9F6E5;
}

.latest_news_content_img:hover > .news {
  bottom: 15%;
  background: #2B4074;
}

.overlay_news_info {
  position: absolute;
  width: 30px;
  height: 28px;
  top: 42%;
  left: 42%;
  background-image: url(../images/icons/info_button_news.svg);
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
}

.latest_news_content_img:hover > .overlay_news_info {
  opacity: 0.9;
}
/* testimonial */

.testimonial {
  position: relative;
  height: 480px;
  background-color: #FFFFFF;
}

.testimonial img {
  position: relative;
  display: flex;
  width: 32px;
  height: 34px;
  top: 85px;
  margin: 0 auto;
}

.testimonial h1 {
  position: relative;
  text-align: center;
  height: 108px;
  top: 144px;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  margin-bottom: 0px;
  margin-top: 0px;
  color: #4A4A4A;
}

.testimonial h2 {
  position: relative;
  text-align: center;
  height: 28px;
  top: 144px;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 2px;
  color: #4A4A4A;
}

.testimonial .pagination {
  top: 370px;
}

/* footer */

.footer {
  position: relative;
  height: 639px;
  background: #2B4074;
}

.vatch_button {
  display: block;
  width: 234px;
  margin: 0 auto;
  
}

.vatch_button button {
  position: relative;
  width: 234px;
  height: 70px;
  top: -30px;
  background-color: #2B4074;
  background-image: url(../images/icons/DiGi-logo.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}

.footer p {
  position: absolute;
  width: 751px;
  height: 61px;
  left: 150px;
  top: 158px;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 2px;
  color: #FFFFFF;
}

.sotial {
  display: flex;
  position: absolute;
  width: 1141px;
  height: 63px;
  left: 149px;
  top: 299px;
}

.sotial_f , .sotial_g , .sotial_t , .sotial_p {
  width: 283px;
  height: 59px;
  border: 1px solid #7EBF84;
  display: flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.vidgets {
  display: flex;
  position: relative;
  width: 1141px;
  height: 117px;
  top: 379px;
  margin: 0 auto;
}

.vidgets li {
  position: relative;
  display: inline-block;
  width: 282px;
  height: 22px;
  left: 1px;
  top: -20px;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2px;
  color: #F9F6E5;
}

.vidgets li:last-child {
  margin-right: 0px;
}

.vidgets a {
  position: absolute;
  height: 22px;
  left: 1px;
  top: 44px;
  font-size: 12px;
  line-height: 20px;
  align-items: flex-end;
  text-decoration: none;
  color: #FFFFFF;
}

.copyright {
  position: relative;
  height: 42px;
  background: #F9F6E5;
}

.button_up {
  position: absolute;
  width: 99px;
  height: 24px;
  left: 1205px;
  top: 7px;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: flex-end;
  letter-spacing: 2px;
  border: none;
  background: #F9F6E5;
}

.button_up a {
  position: relative;
  text-decoration: none;
  color: #4A4A4A;
}

.button_up a img {
  position: relative;
  top: 10px;
  background-repeat: no-repeat;
  cursor: pointer;
}















